{
  "openapi": "3.0.3",
  "x-enable-proxy": true,
  "info": {
    "title": "Invoice4U API",
    "description": "The Invoice4U API lets you create tax-compliant documents (invoices, receipts, credit invoices and more), manage customers and branches, and charge credit cards through the Invoice4U clearing service.\n\nUnless marked GET (query-string parameters), endpoints are POST with a JSON body that wraps the operation parameters by name (WCF wrapped-request style). Responses wrap the result in a single `d` property: `{ \"d\": ... }`. Dates use the WCF format `\"/Date(1788210000000+0300)/\"` (milliseconds since 1970-01-01 UTC plus offset); ISO strings are not accepted. Almost every endpoint takes your organization API key as `token`.",
    "version": "1.0.0",
    "contact": {
      "name": "Invoice4U Support",
      "url": "https://invoice4u.co.il"
    }
  },
  "servers": [
    {
      "url": "https://api.invoice4u.co.il/Services/ApiService.svc",
      "description": "Production"
    },
    {
      "url": "https://apiqa.invoice4u.co.il/Services/ApiService.svc",
      "description": "QA (staging)"
    }
  ],
  "security": [],
  "tags": [
    { "name": "Authentication", "description": "Obtain and manage authentication tokens." },
    { "name": "Customers", "description": "Create, update and retrieve customers." },
    { "name": "Branches", "description": "Organization branches." },
    { "name": "Documents", "description": "Create and retrieve documents (invoices, receipts, etc.)." },
    { "name": "Catalog Items", "description": "Read the organization's item catalog. Available to all accounts; does not require the Inventory module." },
    { "name": "Inventory", "description": "Manage inventory items, categories, suppliers, warehouses, and pricing." },
    { "name": "Clearing", "description": "Credit-card charges, tokens, standing orders and clearing logs." },
    { "name": "Registration", "description": "Partner-only account registration." },
    { "name": "Account", "description": "Account-level reference data: VAT rate and document numbering." }
  ],
  "paths": {
    "/GetExpDateByApiKey": {
      "post": {
        "tags": ["Authentication"],
        "operationId": "GetExpDateByApiKey",
        "summary": "Get account expiration date",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": { "token": { "type": "string" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Expiration date string or \"UnauthorizedUser\".",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "type": "string" } }
                }
              }
            }
          }
        }
      }
    },
    "/IsAuthenticated": {
      "post": {
        "tags": ["Authentication"],
        "operationId": "IsAuthenticated",
        "summary": "Verify a token or API key",
        "description": "Validates an organization API key (GUID) or token and returns the resolved user. An account expired more than 4 days ago adds an `ExpiredAccount` error.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": {
                  "token": { "type": "string", "description": "Your organization API key (GUID).", "example": "d2f1a6b3-1234-4c9a-9f00-1a2b3c4d5e6f" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolved user, or a user object whose Errors array is populated when the token/key is invalid or the account is expired.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "type": "object",
                      "description": "Authenticated user details.",
                      "properties": {
                        "ID": { "type": "integer" },
                        "Email": { "type": "string" },
                        "OrganizationID": { "type": "integer" },
                        "ExpirationDate": { "type": "string", "nullable": true },
                        "Errors": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/CommonError" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CreateCustomer": {
      "post": {
        "tags": ["Customers"],
        "operationId": "CreateCustomer",
        "summary": "Create a customer",
        "description": "Creates a customer in the authenticated organization. If `cu.ID` exists, behaves like an update. Negative returned ID = conflict: -1 name, -2 external number, -3 unique ID, -4 GUID.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["cu", "token"],
                "properties": {
                  "cu": { "$ref": "#/components/schemas/CustomerCreateRequest" },
                  "token": { "type": "string" }
                }
              },
              "example": {
                "cu": {
                  "Name": "Acme Ltd",
                  "UniqueID": "512345678",
                  "Email": "billing@acme.example",
                  "Phone": "03-1234567",
                  "Active": true,
                  "PayTerms": 30
                },
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created customer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Customer" } }
                }
              }
            }
          }
        }
      }
    },
    "/UpdateCustomer": {
      "post": {
        "tags": ["Customers"],
        "operationId": "UpdateCustomer",
        "summary": "Update a customer",
        "description": "Updates an existing customer. `cu.ID` must be a valid existing customer ID. `PayTerms`, `Active` and `Retainer` are non-nullable, so the API always writes back whatever value you send for them — omit one and it resets to its default.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["cu", "token"],
                "properties": {
                  "cu": { "$ref": "#/components/schemas/CustomerUpdateRequest" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated customer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Customer" } }
                }
              }
            }
          }
        }
      }
    },
    "/GetCustomerById": {
      "post": {
        "tags": ["Customers"],
        "operationId": "GetCustomerById",
        "summary": "Get customer by ID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["custId", "token"],
                "properties": {
                  "custId": { "type": "integer", "example": 88231 },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The customer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Customer" } }
                }
              }
            }
          }
        }
      }
    },
    "/GetCustomersByOrgId": {
      "post": {
        "tags": ["Customers"],
        "operationId": "GetCustomersByOrgId",
        "summary": "List all customers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": { "token": { "type": "string" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "All customers in the organization.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": { "$ref": "#/components/schemas/CustomerCollection" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetCustomers": {
      "post": {
        "tags": ["Customers"],
        "operationId": "GetCustomers",
        "summary": "Search customers",
        "description": "Filtered search. Only `UniqueID`, `Name`, `ExtNumber`, `Active`, `Retainer`, `HasBeenExported`, `Email`, `Phone`, `Cell` and `FreeUniqueID` are honored as filters; any other populated field is ignored. `Active` is non-nullable and is always sent, so omitting it searches for inactive customers — send `Active: true` to find active ones.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["cust", "token"],
                "properties": {
                  "cust": { "$ref": "#/components/schemas/Customer" },
                  "token": { "type": "string" }
                }
              },
              "example": {
                "cust": { "Name": "Acme", "Active": true },
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching customers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": { "$ref": "#/components/schemas/CustomerCollection" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetBranches": {
      "post": {
        "tags": ["Branches"],
        "operationId": "GetBranches",
        "summary": "Get branches",
        "description": "Returns all branches for the authenticated organization. Returns null on auth/server error.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": { "token": { "type": "string" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Branch list.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "type": "array",
                      "nullable": true,
                      "items": { "$ref": "#/components/schemas/Branch" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetCatalogItems": {
      "post": {
        "tags": ["Catalog Items"],
        "operationId": "GetCatalogItems",
        "summary": "Get catalog items",
        "description": "Returns the item catalog of the authenticated organization. Available to all accounts, with or without the Inventory module. Read-only: the API has no endpoint for creating or updating catalog items. Returns null on auth/server error.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["GetAll", "token"],
                "properties": {
                  "GetAll": { "type": "boolean", "description": "false returns active items only; true returns all items, including inactive ones." },
                  "token": { "type": "string" }
                }
              },
              "example": { "GetAll": false, "token": "<token>" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Catalog items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": { "$ref": "#/components/schemas/CatalogItemCollection" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetCatalogItemByCode": {
      "post": {
        "tags": ["Catalog Items"],
        "operationId": "GetCatalogItemByCode",
        "summary": "Get a catalog item by code",
        "description": "Returns a single catalog item by exact code. Available to all accounts, with or without the Inventory module. Only ID, UserId, Code, Name, Price, PriceAfterTax and VatPercentage are populated. Returns null when not found or on auth/server error.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["code", "token"],
                "properties": {
                  "code": { "type": "string", "description": "Item code (exact match)." },
                  "token": { "type": "string" }
                }
              },
              "example": { "code": "SRV-01", "token": "<token>" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The catalog item, or null.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": { "$ref": "#/components/schemas/CatalogItem" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CreateInventoryCategory": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "CreateInventoryCategory",
        "summary": "Create an inventory category",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["itemCategory", "token"],
                "properties": {
                  "itemCategory": { "$ref": "#/components/schemas/ItemCategory" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created category.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/ItemCategory" } }
                }
              }
            }
          }
        }
      }
    },
    "/UpdateInventoryCategory": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "UpdateInventoryCategory",
        "summary": "Update an inventory category",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["itemCategory", "token"],
                "properties": {
                  "itemCategory": { "$ref": "#/components/schemas/ItemCategory" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated category.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/ItemCategory" } }
                }
              }
            }
          }
        }
      }
    },
    "/GetInventoryCategoryById": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "GetInventoryCategoryById",
        "summary": "Get inventory category by ID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "token"],
                "properties": {
                  "id": { "type": "integer" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The category.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/ItemCategory" } }
                }
              }
            }
          }
        }
      }
    },
    "/GetInventoryCategories": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "GetInventoryCategories",
        "summary": "Get all inventory categories",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": {
                  "isActive": { "type": "boolean", "nullable": true },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of categories.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ItemCategory" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CreateSupplier": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "CreateSupplier",
        "summary": "Create a supplier",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["supplier", "token"],
                "properties": {
                  "supplier": { "$ref": "#/components/schemas/Supplier" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created supplier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Supplier" } }
                }
              }
            }
          }
        }
      }
    },
    "/UpdateSupplier": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "UpdateSupplier",
        "summary": "Update a supplier",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["supplier", "token"],
                "properties": {
                  "supplier": { "$ref": "#/components/schemas/Supplier" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated supplier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Supplier" } }
                }
              }
            }
          }
        }
      }
    },
    "/GetSupplier": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "GetSupplier",
        "summary": "Get supplier by ID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "token"],
                "properties": {
                  "id": { "type": "integer" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The supplier.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Supplier" } }
                }
              }
            }
          }
        }
      }
    },
    "/GetSuppliers": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "GetSuppliers",
        "summary": "Get all suppliers",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": {
                  "isActive": { "type": "boolean", "nullable": true },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of suppliers.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Supplier" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CreateWarehouse": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "CreateWarehouse",
        "summary": "Create a warehouse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["warehouse", "token"],
                "properties": {
                  "warehouse": { "$ref": "#/components/schemas/Warehouse" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created warehouse.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Warehouse" } }
                }
              }
            }
          }
        }
      }
    },
    "/UpdateWarehouse": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "UpdateWarehouse",
        "summary": "Update a warehouse",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["warehouse", "token"],
                "properties": {
                  "warehouse": { "$ref": "#/components/schemas/Warehouse" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated warehouse.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Warehouse" } }
                }
              }
            }
          }
        }
      }
    },
    "/GetWarehouses": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "GetWarehouses",
        "summary": "Get all warehouses",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": {
                  "isActive": { "type": "boolean", "nullable": true },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of warehouses.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Warehouse" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetInventoryItems": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "GetInventoryItems",
        "summary": "Get inventory items with filtering",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": {
                  "itemId": { "type": "integer", "nullable": true },
                  "fromSellingDate": { "allOf": [ { "$ref": "#/components/schemas/WcfDate" } ], "nullable": true },
                  "toSellingDate": { "allOf": [ { "$ref": "#/components/schemas/WcfDate" } ], "nullable": true },
                  "fromPurchasingDate": { "allOf": [ { "$ref": "#/components/schemas/WcfDate" } ], "nullable": true },
                  "toPurchasingDate": { "allOf": [ { "$ref": "#/components/schemas/WcfDate" } ], "nullable": true },
                  "isActive": { "type": "boolean", "nullable": true },
                  "serialNumber": { "type": "integer", "nullable": true },
                  "batchNumber": { "type": "integer", "nullable": true },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of inventory items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Item" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetActiveInventoryItems": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "GetActiveInventoryItems",
        "summary": "Get active inventory items",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": { "token": { "type": "string" } }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of active inventory items.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/Item" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetInventoryItem": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "GetInventoryItem",
        "summary": "Get inventory item by ID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id", "token"],
                "properties": {
                  "id": { "type": "integer" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The inventory item.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Item" } }
                }
              }
            }
          }
        }
      }
    },
    "/CreateInventoryItem": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "CreateInventoryItem",
        "summary": "Create an inventory item",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["item", "token"],
                "properties": {
                  "item": { "$ref": "#/components/schemas/Item" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created inventory item.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Item" } }
                }
              }
            }
          }
        }
      }
    },
    "/UpdateInventoryItem": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "UpdateInventoryItem",
        "summary": "Update an inventory item",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["item", "token"],
                "properties": {
                  "item": { "$ref": "#/components/schemas/Item" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated inventory item.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Item" } }
                }
              }
            }
          }
        }
      }
    },
    "/ReceiveToStock": {
      "post": {
        "tags": ["Inventory"],
        "operationId": "ReceiveToStock",
        "summary": "Receive items to stock",
        "description": "Records a receipt document for items received into inventory.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["doc", "token"],
                "properties": {
                  "doc": { "$ref": "#/components/schemas/Document" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created receipt document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Document" } }
                }
              }
            }
          }
        }
      }
    },
    "/CreateDocument": {
      "post": {
        "tags": ["Documents"],
        "operationId": "CreateDocument",
        "summary": "Create a document",
        "description": "Creates a signed, numbered document. Totals are computed server-side from Items/Payments. Check the returned Errors list before using the result.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["doc", "token"],
                "properties": {
                  "doc": { "$ref": "#/components/schemas/Document" },
                  "token": { "type": "string" }
                }
              },
              "example": {
                "doc": {
                  "DocumentType": 3,
                  "Subject": "Monthly subscription",
                  "ClientID": 88231,
                  "TaxIncluded": true,
                  "Currency": "ILS",
                  "ApiIdentifier": "my-system-order-10045",
                  "Items": [
                    { "Name": "Pro plan - June", "Quantity": 1, "Price": 117.0 }
                  ],
                  "Payments": [
                    { "PaymentType": 1, "Amount": 117.0, "Date": "/Date(1788210000000+0300)/", "NumberOfPayments": 1 }
                  ],
                  "AssociatedEmails": [
                    { "Mail": "billing@acme.example", "IsUserMail": false }
                  ]
                },
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created document (or a document carrying Errors).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Document" } }
                }
              }
            }
          }
        }
      }
    },
    "/CreateDocumentWithIdentifierValidation": {
      "post": {
        "tags": ["Documents"],
        "operationId": "CreateDocumentWithIdentifierValidation",
        "summary": "Create a document with idempotency by ApiIdentifier",
        "description": "Same as CreateDocument, but if a document with the same ApiIdentifier and type already exists, the existing document is returned with error DocumentAlreadyCreated (134) instead of creating a duplicate.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["doc", "token"],
                "properties": {
                  "doc": { "$ref": "#/components/schemas/Document" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "New or existing document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Document" } }
                }
              }
            }
          }
        }
      }
    },
    "/GetDocument": {
      "post": {
        "tags": ["Documents"],
        "operationId": "GetDocument",
        "summary": "Get document by GUID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["docId", "token"],
                "properties": {
                  "docId": { "type": "string", "format": "uuid" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Document" } }
                }
              }
            }
          }
        }
      }
    },
    "/GetDocumentByNumber": {
      "post": {
        "tags": ["Documents"],
        "operationId": "GetDocumentByNumber",
        "summary": "Get document by number and type",
        "description": "Document numbers are sequential per type, so documentType is required.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["docNumber", "documentType", "token"],
                "properties": {
                  "docNumber": { "type": "integer", "example": 20260123 },
                  "documentType": { "type": "integer", "example": 3 },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Document" } }
                }
              }
            }
          }
        }
      }
    },
    "/GetDocumentByApiIdentifier": {
      "post": {
        "tags": ["Documents"],
        "operationId": "GetDocumentByApiIdentifier",
        "summary": "Get document by your ApiIdentifier",
        "description": "Recommended recovery path after a timed-out create call.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["apiIdentifier", "docType", "token"],
                "properties": {
                  "apiIdentifier": { "type": "string", "example": "order-10045-invoice" },
                  "docType": { "type": "integer", "example": 1 },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Document" } }
                }
              }
            }
          }
        }
      }
    },
    "/GetDocuments": {
      "post": {
        "tags": ["Documents"],
        "operationId": "GetDocuments",
        "summary": "Search documents",
        "description": "Searches documents of a single type per call — `DocumentType` is required. `CustomerName` only verifies that a customer with that name exists; it is not applied as a search filter for new-system results — use `CustomerID` to filter by customer. Ignored by this endpoint: `DocumentTypes`, `FromPaymentDueDate`/`ToPaymentDueDate`, `FromNumber`/`ToNumber`, `ItemDescription`, `ItemsIncluded`, `PaymentsIncluded` — these fields exist on the shared `DocumentsRequest` schema for other consumers.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["dr", "token"],
                "properties": {
                  "dr": { "$ref": "#/components/schemas/DocumentsRequest" },
                  "token": { "type": "string" }
                }
              },
              "example": {
                "dr": {
                  "DocumentType": 3,
                  "From": "/Date(1780261200000+0300)/",
                  "To": "/Date(1782853199000+0300)/"
                },
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching documents.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": { "$ref": "#/components/schemas/DocumentCollection" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CreateOrUpdateDraftDocument": {
      "post": {
        "tags": ["Documents"],
        "operationId": "CreateOrUpdateDraftDocument",
        "summary": "Create or update a draft document",
        "description": "Saves an editable draft: no legal number, no quota usage, relaxed validation. Sending an existing draft ID updates it. IsPreviewDocument targets the organization's single preview slot.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["doc", "token"],
                "properties": {
                  "doc": { "$ref": "#/components/schemas/Document" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The saved draft.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": { "$ref": "#/components/schemas/Document" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetDraftDocument": {
      "post": {
        "tags": ["Documents"],
        "operationId": "GetDraftDocument",
        "summary": "Get a draft document by GUID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["docId", "token"],
                "properties": {
                  "docId": { "type": "string", "format": "uuid" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The draft document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": { "$ref": "#/components/schemas/Document" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetDraftDocuments": {
      "post": {
        "tags": ["Documents"],
        "operationId": "GetDraftDocuments",
        "summary": "Search draft documents",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["dr", "token"],
                "properties": {
                  "dr": { "$ref": "#/components/schemas/DocumentsRequest" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching drafts.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": { "$ref": "#/components/schemas/DocumentCollection" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CheckIfDraftExistsByDocumentType": {
      "post": {
        "tags": ["Documents"],
        "operationId": "CheckIfDraftExistsByDocumentType",
        "summary": "Check whether a draft exists for a document type",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["docType", "token"],
                "properties": {
                  "docType": { "type": "integer" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "True/false; null when the token is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": { "type": "boolean", "nullable": true }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/DeleteDraftDocument": {
      "post": {
        "tags": ["Documents"],
        "operationId": "DeleteDraftDocument",
        "summary": "Delete a draft document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["docId", "token"],
                "properties": {
                  "docId": { "type": "string", "format": "uuid" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope; DraftDocumentDeleteError (135) on failure.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": { "$ref": "#/components/schemas/Document" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/DeleteDraftDocuments": {
      "post": {
        "tags": ["Documents"],
        "operationId": "DeleteDraftDocuments",
        "summary": "Delete multiple draft documents",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["docIds", "token"],
                "properties": {
                  "docIds": { "type": "array", "items": { "type": "string", "format": "uuid" } },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result envelope; DraftDocumentDeleteError (135) per failed id.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": { "$ref": "#/components/schemas/Document" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetPreviewDocumentByToken": {
      "post": {
        "tags": ["Documents"],
        "operationId": "GetPreviewDocumentByToken",
        "summary": "Get the organization's preview document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": {
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The preview document (saved with IsPreviewDocument: true).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": { "$ref": "#/components/schemas/Document" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FetchAllocationNumber": {
      "post": {
        "tags": ["Documents"],
        "operationId": "FetchAllocationNumber",
        "summary": "Fetch an Israel Tax allocation number for a document",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["docId", "token"],
                "properties": {
                  "docId": { "type": "string", "format": "uuid" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Document with AllocationNumber populated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/Document" } }
                }
              }
            }
          }
        }
      }
    },
    "/UpdateAllocationNumber": {
      "post": {
        "tags": ["Documents"],
        "operationId": "UpdateAllocationNumber",
        "summary": "Set an allocation number manually",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["docId", "allocationNumber", "token"],
                "properties": {
                  "docId": { "type": "string", "format": "uuid" },
                  "allocationNumber": { "type": "string", "minLength": 9 },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success returns `d: null` — the document is not returned. Only a failure (invalid token, or allocationNumber shorter than 9 characters, AllocationNumberInvalid=162) returns a Document with Errors.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "allOf": [ { "$ref": "#/components/schemas/Document" } ], "nullable": true } }
                }
              }
            }
          }
        }
      }
    },
    "/ProcessApiRequestV2": {
      "post": {
        "tags": ["Clearing"],
        "operationId": "ProcessApiRequestV2",
        "summary": "Process a clearing request",
        "description": "Creates a hosted payment page, charges a saved token, or refunds a previous charge — and optionally creates the matching document. The response is the same object enriched with results (ClearingRedirectUrl, PaymentId, DocumentNumber...).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["request"],
                "properties": {
                  "request": { "$ref": "#/components/schemas/ApiClearingRequest" }
                }
              },
              "examples": {
                "hosted-page-charge": {
                  "summary": "Hosted page charge + auto document",
                  "value": {
                    "request": {
                      "Invoice4UUserApiKey": "d2f1a6b3-1234-4c9a-9f00-1a2b3c4d5e6f",
                      "Sum": 117.0,
                      "Currency": "NIS",
                      "Type": 1,
                      "FullName": "Israel Israeli",
                      "Phone": "0501234567",
                      "Email": "israel@example.com",
                      "Description": "Order #10045",
                      "IsDocCreate": true,
                      "ReturnUrl": "https://shop.example/thanks",
                      "CallBackUrl": "https://shop.example/api/i4u-callback",
                      "IsQaMode": true
                    }
                  }
                },
                "refund": {
                  "summary": "Refund a previous charge by PaymentId",
                  "description": "Server-to-server, no redirect. PaymentId locates the original charge in the clearing log (PaymentIDDoesntExists 60 when not found). On success, an InvoiceCredit is created automatically when the original document is traceable via the clearing log.",
                  "value": {
                    "request": {
                      "Invoice4UUserApiKey": "d2f1a6b3-1234-4c9a-9f00-1a2b3c4d5e6f",
                      "Refund": true,
                      "Sum": 117.0,
                      "PaymentId": "100200300",
                      "Currency": "NIS",
                      "FullName": "Israel Israeli",
                      "Phone": "0501234567",
                      "Email": "israel@example.com",
                      "Description": "Refund for order #10045",
                      "IsQaMode": true
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The enriched clearing request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/ApiClearingRequest" } }
                }
              }
            }
          }
        }
      }
    },
    "/GetClearingLogById": {
      "post": {
        "tags": ["Clearing"],
        "operationId": "GetClearingLogById",
        "summary": "Get a clearing log row",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["clearingLogId", "token"],
                "properties": {
                  "clearingLogId": { "type": "integer" },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The clearing log.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/ClearingLog" } }
                }
              }
            }
          }
        }
      }
    },
    "/GetClearingLogByParams": {
      "post": {
        "tags": ["Clearing"],
        "operationId": "GetClearingLogByParams",
        "summary": "Search clearing logs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["searchParams", "token"],
                "properties": {
                  "searchParams": {
                    "type": "object",
                    "description": "Filter object; every field is optional and ignored when omitted.",
                    "properties": {
                      "ClearingLogId": { "type": "integer", "nullable": true, "description": "Filter to a single log by ID. Only applied when greater than 0." },
                      "OrganizationId": { "type": "integer", "nullable": true, "description": "Ignored — the API always scopes results to your token's organization." },
                      "FromDate": { "allOf": [ { "$ref": "#/components/schemas/WcfDate" } ], "nullable": true },
                      "ToDate": { "allOf": [ { "$ref": "#/components/schemas/WcfDate" } ], "nullable": true },
                      "IsSuccess": { "type": "boolean", "nullable": true },
                      "CreditCardNumber": { "type": "string", "nullable": true, "description": "Card number/last digits as stored on the log." },
                      "Currency": { "type": "integer", "nullable": true, "description": "1 NIS, 2 USD, 3 EUR." },
                      "CreditCardType": { "type": "integer", "nullable": true, "description": "Your organization's credit-card company ID (matches the returned CreditType/CreditTypeName)." },
                      "FromAmount": { "type": "number", "format": "float", "nullable": true },
                      "ToAmount": { "type": "number", "format": "float", "nullable": true },
                      "ClearingConfirmationNumber": { "type": "string", "nullable": true },
                      "IsCredit": { "type": "boolean", "nullable": true, "description": "true to return only refund/credit rows." },
                      "IsBitPayment": { "type": "boolean", "nullable": true },
                      "IsGooglePay": { "type": "boolean", "nullable": true },
                      "IsApplePay": { "type": "boolean", "nullable": true },
                      "CompanyType": { "type": "integer", "nullable": true, "description": "ClearingCompanies enum: 6 UPay, 7 Meshulam, 12 YaadSarig (historical records only), 15 Cardcom." },
                      "ClientName": { "type": "string", "nullable": true },
                      "PaymentId": { "type": "string", "nullable": true },
                      "TransactionType": { "type": "integer", "nullable": true, "description": "0 Charge, 1 TokenCreation, 2 TokenAndCharge, 3 ChargeByToken, 4 PaymentInNumbers, 5 PaymentWithFees, 6 Credit, 7 MobileAppPersonalPayment, 8 TokenPaymentInNumbers." }
                    }
                  },
                  "token": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matching clearing logs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ClearingLog" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/UserRegistrationApi": {
      "post": {
        "tags": ["Registration"],
        "operationId": "UserRegistrationApi",
        "summary": "Register a new Invoice4U account (partners only)",
        "description": "Restricted endpoint: requires a valid `token` (checked the same way as IsAuthenticated) and a partner-specific `uniqueToken` issued by Invoice4U. The calling server IP must also be whitelisted, though some partner integrations are exempt. Contact Invoice4U business development for onboarding.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["user", "token", "uniqueToken"],
                "properties": {
                  "user": { "$ref": "#/components/schemas/UserRegApiObject" },
                  "token": { "type": "string", "description": "Authentication token." },
                  "uniqueToken": { "type": "string", "description": "Partner token issued by Invoice4U." }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The registered account; check Errors. An invalid/missing token or uniqueToken both return UnauthorizedUser (80); ApiUnauthorizedAccessInvalidIPAddress=306 for a non-whitelisted IP.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "d": { "$ref": "#/components/schemas/UserRegApiObject" } }
                }
              }
            }
          }
        }
      }
    },
    "/GetItemsMovementReport": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "operationId": "GetItemsMovementReport",
        "summary": "Get stock movements",
        "description": "Stock movement rows (date, quantity, entry, exit, opening) for one inventory item — or all items when itemId is omitted — within an optional date range. Requires an active Inventory module.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "itemId": {
                    "type": "integer",
                    "nullable": true,
                    "description": "Inventory item ID. Omit or null for all items."
                  },
                  "fromDate": {
                    "$ref": "#/components/schemas/WcfDate"
                  },
                  "toDate": {
                    "$ref": "#/components/schemas/WcfDate"
                  },
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "itemId": 1001,
                "fromDate": "/Date(1788210000000+0300)/",
                "toDate": "/Date(1790801999000+0300)/",
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ItemsMovement. {\"d\":null} on a fully invalid/missing token. On an expired account: an ItemsMovement object with Errors [UnauthorizedUser (80)] and Item/ItemsBalance both null. On an inactive Inventory module: same shape with Errors [UnauthorizedInventoryAttempt (403)].",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/ItemsMovement"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetTotalMovementReport": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "operationId": "GetTotalMovementReport",
        "summary": "Get stock movement totals",
        "description": "Movement totals per inventory item (entry, exit, opening, balance, price) within an optional date range. Requires an active Inventory module.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "fromDate": {
                    "$ref": "#/components/schemas/WcfDate"
                  },
                  "toDate": {
                    "$ref": "#/components/schemas/WcfDate"
                  },
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "fromDate": "/Date(1788210000000+0300)/",
                "toDate": "/Date(1790801999000+0300)/",
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Array of ItemBalance. Empty array ({\"d\":[]}) on an invalid/missing token. One-element array carrying Errors [UnauthorizedUser (80)] on an expired account, or [UnauthorizedInventoryAttempt (403)] when the Inventory module is inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ItemBalance"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/SendDocumentByMail": {
      "post": {
        "tags": [
          "Documents"
        ],
        "operationId": "SendDocumentByMail",
        "summary": "Email a document",
        "description": "Emails an existing document to the customer's email — or to the addresses in AssociatedEmails. Sends a real email.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "doc",
                  "token"
                ],
                "properties": {
                  "doc": {
                    "type": "object",
                    "required": [
                      "ID"
                    ],
                    "properties": {
                      "ID": {
                        "type": "string",
                        "format": "uuid",
                        "description": "Document ID (GUID) returned by CreateDocument. The server reloads the document from the database by this ID — every other doc field you send is ignored."
                      },
                      "AssociatedEmails": {
                        "type": "array",
                        "nullable": true,
                        "description": "Recipients. Omit to send to the customer's email.",
                        "items": {
                          "type": "object",
                          "properties": {
                            "Mail": {
                              "type": "string",
                              "format": "email"
                            }
                          }
                        }
                      }
                    }
                  },
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "doc": {
                  "ID": "3f2b9c1e-7a4d-4e8b-9c1a-2b3c4d5e6f70",
                  "AssociatedEmails": [
                    {
                      "Mail": "billing@acme.example"
                    }
                  ]
                },
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Info [SuccessfulAction (2)] on success. Errors [UnauthorizedUser (80)] on an expired account, or when the document belongs to another organization; Errors [GeneralError (0)] on an invalid/undecodable token or any other failure while sending the email.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/CommonObject"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetTaxRate": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "GetTaxRate",
        "summary": "Get the VAT rate",
        "description": "Returns the system-wide standard Israeli VAT rate for today, or for the given date — the same value for every organization, not each organization's own VAT setting.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  },
                  "date": {
                    "type": "string",
                    "nullable": true,
                    "description": "Optional date as yyyy-MM-dd (e.g. 2024-12-31), parsed with DateTime.TryParse. Omit it to get the current system-wide standard rate (from the TaxRate app setting, same for every organization) regardless of today's date. An unparseable value causes an HTTP 500 fault (uncaught ArgumentException)."
                  }
                }
              },
              "example": {
                "token": "<token>",
                "date": "2024-12-31"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tax. TaxRate is 17 for dates before 2025-01-01, otherwise the system-wide standard rate from the TaxRate app setting (same value for every organization, not the organization's own VAT setting). Invalid token or expired account: TaxRate -1 with Errors [UnauthorizedUser (80)] (the ExpiredAccount (66) error from IsAuthenticated is not carried over).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/Tax"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/DocumentsNumberingGet": {
      "post": {
        "tags": [
          "Account"
        ],
        "operationId": "DocumentsNumberingGet",
        "summary": "Get document numbering",
        "description": "Returns the organization's document numbering definition: starting number per document type, whether each type already has documents, accounting ledger numbers, and bank details.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "NumberingDefinition object with only Errors [UnauthorizedUser (80)] populated (every other field is its CLR default 0/false/null) on an invalid token or an expired account — the ExpiredAccount (66) error from IsAuthenticated is not carried over. {\"d\":null} on an unexpected server/database error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/NumberingDefinition"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/IsDocumentExistsByApiIdentifier": {
      "get": {
        "tags": [
          "Documents"
        ],
        "operationId": "IsDocumentExistsByApiIdentifier",
        "summary": "Check whether a document exists by ApiIdentifier",
        "description": "GET with query-string parameters. true when a document with this ApiIdentifier exists in your organization. Also returns false when the token is invalid or expired — verify the token first with IsAuthenticated.",
        "parameters": [
          {
            "name": "apiIdentifier",
            "in": "query",
            "required": true,
            "description": "The ApiIdentifier you sent when creating the document.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "description": "Your organization API key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "true / false.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetCustomerByGuidInnerSearch": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetCustomerByGuidInnerSearch",
        "summary": "Get a customer by GUID (with inner search)",
        "description": "Like GetCustomerByGuid, with the lookup's inner search enabled (AlsoInnerSearch). Returns null when not found and when the token is invalid or expired — the two cases are indistinguishable.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "guid",
                  "token"
                ],
                "properties": {
                  "guid": {
                    "type": "string",
                    "description": "The customer GUID."
                  },
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "guid": "b1e2c3d4-0000-4a5b-8c9d-001122334455",
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer, or null.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetByClientCode": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetByClientCode",
        "summary": "Get a customer by client code (alias)",
        "description": "Alias of GetCustomerByClientCode — same lookup and response. Returns null when not found. An invalid or expired token raises an unhandled server error (HTTP 500) rather than a normal error response.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clientCode",
                  "token"
                ],
                "properties": {
                  "clientCode": {
                    "type": "integer",
                    "description": "The customer's client code."
                  },
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "clientCode": 1045,
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer, or null.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetCustomerReport": {
      "post": {
        "tags": [
          "Documents"
        ],
        "operationId": "GetCustomerReport",
        "summary": "Get a customer report",
        "description": "The documents of one customer in a date range. Only From, To, CustomerID, Status and DocumentType are used; other DocumentsRequest fields are ignored. An invalid token returns an empty envelope (no Response, no Errors).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "dr",
                  "token"
                ],
                "properties": {
                  "dr": {
                    "type": "object",
                    "properties": {
                      "From": {
                        "$ref": "#/components/schemas/WcfDate"
                      },
                      "To": {
                        "$ref": "#/components/schemas/WcfDate"
                      },
                      "CustomerID": {
                        "type": "integer",
                        "description": "Customer ID."
                      },
                      "Status": {
                        "type": "integer",
                        "description": "Document status filter; 0 = all."
                      },
                      "DocumentType": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Document type filter; omit or 0 = all types."
                      }
                    }
                  },
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "dr": {
                  "From": "/Date(1767218400000+0200)/",
                  "To": "/Date(1782853199000+0300)/",
                  "CustomerID": 88231,
                  "Status": 0
                },
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documents in Response. Errors [UnauthorizedUser (80)] on an expired account. An invalid/undecodable token returns an empty envelope — neither Response nor Errors populated; treat that the same as a failure.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/DocumentCollection"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/UserIsraelInvoicesStatus": {
      "post": {
        "tags": [
          "Documents"
        ],
        "operationId": "UserIsraelInvoicesStatus",
        "summary": "Get Israel Invoices connection status",
        "description": "Whether the organization is connected to Israel Invoices (allocation numbers), and since when.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "IsraelInvoicesStatus. Errors [UnauthorizedUser (80)] when the token is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/IsraelInvoicesStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/UpdateAKU": {
      "post": {
        "tags": [
          "Registration"
        ],
        "operationId": "UpdateAKU",
        "summary": "Set a new API key (partners)",
        "description": "Partner-only (User Registration API). Replaces the organization's API key with the GUID you supply. The old key stops working immediately.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "newAkU",
                  "token"
                ],
                "properties": {
                  "newAkU": {
                    "type": "string",
                    "format": "uuid",
                    "description": "The new API key (GUID)."
                  },
                  "token": {
                    "type": "string",
                    "description": "Current API key of the organization whose key is replaced."
                  }
                }
              },
              "example": {
                "newAkU": "0f9e8d7c-6b5a-4c3d-2e1f-a0b1c2d3e4f5",
                "token": "<current-api-key>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User object — only Errors and Info are meaningful. Success: Info [{ ID: 0, Info: \"success\" }]. Errors: UnauthorizedUser (80) when the token itself is invalid; ExpiredAccount (66) when the token is valid but the account expired more than 4 days ago (the key is left unchanged) — note this is NOT UnauthorizedUser (80); ApiKeyNotInCorrectFormat (303) when newAkU isn't a valid GUID; ApiKeyWasntGenerated (144) when the new key couldn't be saved; GeneralError (0) on an unexpected server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/CommonObject"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetFullCustomer": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetFullCustomer",
        "summary": "Get a customer with full details",
        "description": "Returns the full customer record, including bank details, contacts and additional emails.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id",
                  "orgID",
                  "token"
                ],
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "Customer ID."
                  },
                  "orgID": {
                    "type": "integer",
                    "description": "Send 0 — uses your organization."
                  },
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "id": 88231,
                "orgID": 0,
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer. Errors [UnauthorizedUser (80)] when the token is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetCustomerByName": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetCustomerByName",
        "summary": "Get a customer by name",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "token"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "name": "Acme Ltd",
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetCustomerByEmail": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetCustomerByEmail",
        "summary": "Get a customer by email",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "token"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "name": {
                    "type": "string",
                    "nullable": true,
                    "description": "Customer name, passed to the lookup together with email."
                  },
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "email": "billing@acme.example",
                "name": "Acme Ltd",
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer. Errors [GeneralError (0)] on server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetCustomerByClientCode": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetCustomerByClientCode",
        "summary": "Get a customer by client code",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "clientCode",
                  "token"
                ],
                "properties": {
                  "clientCode": {
                    "type": "integer"
                  },
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "clientCode": 1045,
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer, or null when not found. An invalid or expired token is not caught by a try block, so it raises an unhandled server error (HTTP 500) instead of a normal error response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetCustomerByGuid": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetCustomerByGuid",
        "summary": "Get a customer by GUID",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "guid",
                  "token"
                ],
                "properties": {
                  "guid": {
                    "type": "string"
                  },
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "guid": "b1e2c3d4-0000-4a5b-8c9d-001122334455",
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer, or null when not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetCustomerByExternalNumber": {
      "post": {
        "tags": [
          "Customers"
        ],
        "operationId": "GetCustomerByExternalNumber",
        "summary": "Get a customer by external number",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "number",
                  "token"
                ],
                "properties": {
                  "number": {
                    "type": "integer",
                    "format": "int64",
                    "description": "The customer's external number. 0 or negative returns CustomerNotFound (136)."
                  },
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "number": 500123,
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/Customer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AddInventoryPricelist": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "operationId": "AddInventoryPricelist",
        "summary": "Create a price list",
        "description": "Creates a new price list in the authenticated organization. IsActive is a required (non-nullable) field on the wire, so omitting it deserializes as false and the price list is created inactive with no warning. OrganizationID is ignored if sent — the server always overwrites it with the authenticated organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pricelist",
                  "token"
                ],
                "properties": {
                  "pricelist": {
                    "$ref": "#/components/schemas/Pricelist"
                  },
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "pricelist": {
                  "Id": 0,
                  "Name": "Wholesale",
                  "Discount": 10,
                  "DiscountType": 0,
                  "IsActive": true
                },
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created price list. null on an invalid/missing token; a Pricelist object carrying Errors [UnauthorizedUser (80)] on an expired account, or [UnauthorizedInventoryAttempt (403)] when the Inventory module is inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/Pricelist"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/GetInventoryPricelists": {
      "post": {
        "tags": [
          "Inventory"
        ],
        "operationId": "GetInventoryPricelists",
        "summary": "List price lists",
        "description": "Retrieves all price lists for the authenticated organization.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "isActive": {
                    "type": "boolean",
                    "nullable": true,
                    "description": "true = active only, false = inactive only, omit/null = all."
                  },
                  "token": {
                    "type": "string",
                    "description": "Your organization API key."
                  }
                }
              },
              "example": {
                "isActive": true,
                "token": "<token>"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Price lists. null on an invalid/missing token; a one-element array carrying Errors [UnauthorizedUser (80)] on an expired account, or [UnauthorizedInventoryAttempt (403)] when the Inventory module is inactive.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
[...]
